.widgetTab {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
}

.widgetHeader {
  flex-basis: 30px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  cursor: move;
}

.remove {
  position: absolute;
  right: 4px;
  top: 0;
  cursor: pointer;
}

.widgetTabContent {
  flex: 1;
  overflow: auto;
}