.widgetTab {
  height: 100%;
  background: #fff;
}

.widgetHeader {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  cursor: move;
}

.remove {
  position: absolute;
  right: 4px;
  top: 0;
  cursor: pointer;
}