/* body {
  position: relative;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
} */

html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333; 
}

.react-grid-item {
  background: #ddd;
  border: 1px solid black;
  &.static {
    background: #cce;
  }
  &.react-grid-placeholder {
    background: #999;
    border: none;
  }
}